<!DOCTYPE html> <html lang="en">
<!-- <html lang="en" style="height: 100%"> -->
<head> <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>부트스트랩 차트그리기</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

</head>

<body>
<div class="container">
    <table class = "table table-hover">
        <thead>
        <tr>
            <th>number</th>
            <th>title</th>
            <th>name</th>
            <th>time</th>
            <th>view</th>
        </tr>
        </thead>
        <tr>
            <td>165</td>
            <td>165</td>
            <td>165</td>
            <td>165</td>
            <td>165</td>
        </tr>

    </table>
    <hr/>
    <a class = "btn btn-default pull-right">write</a>

    <div class="text-center">
        <ul class="pagination">
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>

        </ul>
    </div>
</div>
<!-- 부트스트랩 -->

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

 </body> </html>
